{% load static %}

<aside class="col-md-3 blog-sidebar">
          <div class="p-3 mb-3 bg-light rounded">
            <h4 class="font-italic">O mnie</h4>
            <p class="mb-0">Mam na imię Mateusz, z wykształcenia i zawodu programista. Pracuje jako Python Developer, technologie webowe.
                Interesuje się piłką nożną, koszykówką, esportem, nowymi technologiami oraz polityką. W wolnych chwilach, rozwijam tą stronę i czytam książki.</p>
          </div>
        <div class="p-3">
                <h4 class="font-italic">Tagi</h4>
                <ol class="list-unstyled mb-0">
                    {% for tag in tag_list %}
                        <li><a href="{% url 'tag_sorting-view' tag.slug %}">{{ tag.name }}</a></li>
                    {% endfor %}
                </ol>
        </div>
    <div class="p-3">
        <form class="bd-search d-flex align-items-center" method="get" action="{% url 'archive-view' %}">
            <span class="algolia-autocomplete algolia-autocomplete-left" style="position: relative; display: inline-block; direction: ltr;">
                <input name="q" value type="search" class="form-control ds-input" id="search-input" placeholder="Wyszukaj..." autocomplete="off" spellcheck="false" role="combobox" aria-autocomplete="list" aria-expanded="false" aria-owns="algolia-autocomplete-listbox-0" dir="auto" style="position: relative; vertical-align: top;"
                ><pre aria-hidden="true" style="position: absolute; visibility: hidden; white-space: pre; font-family: -apple-system, BlinkMacSystemFont, &quot;Segoe UI&quot;, Roboto, &quot;Helvetica Neue&quot;, Arial, sans-serif, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;, &quot;Segoe UI Symbol&quot;, &quot;Noto Color Emoji&quot;; font-size: 16px; font-style: normal; font-variant: normal; font-weight: 400; word-spacing: 0px; letter-spacing: normal; text-indent: 0px; text-rendering: auto; text-transform: none;">
                a</pre><span class="ds-dropdown-menu ds-with-1" role="listbox" id="algolia-autocomplete-listbox-0" style="position: absolute; top: 100%; z-index: 100; left: 0px; right: auto; display: none;"><div class="ds-dataset-1"></div></span></span>
              <button class="btn btn-link bd-search-docs-toggle d-md-none p-0 ml-3" type="button" data-toggle="collapse" data-target="#bd-docs-nav" aria-controls="bd-docs-nav" aria-expanded="false" aria-label="Toggle docs navigation"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" width="30" height="30" focusable="false"><title>Menu</title><path stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"></path></svg>
            </button>
        </form>
    </div>
</aside>