{% extends 'base.html' %}

    {% block title %}Newsletter{% endblock %}

    {% block content %}
    <form method='POST'>
    {% csrf_token %}
      <div class="form-group">
        <label for="exampleInputEmail1">{{ form.first_name.label }}</label>
        <input type='text' class="form-control" placeholder="Imię" name="first_name">
          <div class="invalid-feedback">
          {{ form.first_name.errors }}
          </div>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">{{ form.email.label }}</label>
        <input type="email" class="form-control" placeholder="Email" name="email">
          <div class="invalid-feedback">
          {{ form.email.errors }}
          </div>
      </div>
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1" name="agreement">
        <label class="form-check-label" for="exampleCheck1">{{ form.agreement.label }}</label>
          <div class="invalid-feedback">
          {{ form.agreement.errors }}
          </div>
      </div>
      <button type="submit" class="btn btn-primary">Zapisz się</button>
    </form>
    {% endblock %}